{% extends "base.twig" %}

{% block content %}
    <div id="content" style="display: none;">
        <div class="photo_page">
            <section class="photo_line">
                <a href="/albums/id/2/1/#7">
                    <div class="photo horizontal picture_big"
                         style="background-image: url('/img/main/1.jpg');">&nbsp;</div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/5/#51">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/img/main/2.jpg');">&nbsp;</div>
                    </a>
                    <a href="/albums/id/5/#48">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/img/main/10.jpg');">&nbsp;</div>
                    </a>
                </div>
                <a href="/albums/id/5/1/#55">
                    <div class="photo vertical picture_mid"
                         style="background-image: url('/img/main/4.jpg');">&nbsp;</div>
                </a>
                <a href="/contacts/">
                    <div class="photo horizontal picture_big picture_text white_on_blue">
                        <span>Контакты</span>
                    </div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/6/1/#64">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/img/main/12.jpg');">&nbsp;</div>
                    </a>
                    <a href="/albums/id/12/#120">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/img/main/11.jpg');  ">&nbsp;</div>
                    </a>
                </div>
            </section>
            <section>
                <div class="horizontal block_min">
                    <a href="/albums/id/2/3/#23">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/img/main/3.jpg');">&nbsp;</div>
                    </a>
                    <a href="/albums/id/12/#123">
                     <div class="photo horizontal picture_min"
                          style="background-image: url('/img/main/9.jpg');  ">&nbsp;</div>
                     </a>
                </div>
                <a href="/albums/">
                    <div class="photo horizontal picture_big picture_text black_on_white">
                        <span>Альбомы</span>
                    </div>
                </a>
                <a href="/albums/id/6/2/#79">
                    <div class="photo vertical picture_mid"
                         style="background-image: url('/img/main/5.jpg');">&nbsp;</div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/5/1/#52">
                        <div class="photo horizontal picture_min"
                           style="background-image: url('/img/main/6.jpg');">&nbsp;</div>
                    </a>
                    <a href="/albums/id/5/1/#56">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/img/main/7.jpg');">&nbsp;</div>
                    </a>
                </div>
                <a href="/albums/id/2/2/#16">
                    <div class="photo horizontal picture_big"
                         style="background-image: url('/img/main/8.jpg');">&nbsp;</div>
                </a>
            </section>
        </div>
    </div>
{% endblock %}
