{% extends "base.twig" %}

{% block content %}
    <div id="content" style="display: none;">
        <div class="photo_page">
            <section>
                <a href="/albums/id/13/2/#150">
                    <div class="photo horizontal picture_big"
                         style="background-image: url('/web/img/main/14.jpg');">&nbsp;</div>
                </a>

                <div class="horizontal block_min">
                    <a href="/video/">
                    <div class="photo horizontal picture_min picture_text_main white_on_blue">
                        <span>Видео</span>
                    </div>
                    </a>
                    <a href="/albums/id/2/3/#22">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/web/img/main/2.jpg');">&nbsp;</div>
                    </a>
                </div>
                <a href="/albums/id/5/1/#55">
                    <div class="photo vertical picture_mid"
                         style="background-image: url('/web/img/main/4.jpg');">&nbsp;</div>
                </a>
                <a href="/contacts/">
                    <div class="photo horizontal picture_big picture_text white_on_blue">
                        <span>Контакты</span>
                    </div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/2/0/#1">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/web/img/main/19.jpg');">&nbsp;</div>
                    </a>
                    <a href="/albums/id/13/1/#136">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/web/img/main/15.jpg');  ">&nbsp;</div>
                    </a>
                </div>
            </section>
            <section>
                <div class="horizontal block_min">
                    <a href="/albums/id/6/1/#65">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('/web/img/main/3.jpg');">&nbsp;</div>
                    </a>
                    <a href="/albums/id/7/#148">
                     <div class="photo horizontal picture_min"
                          style="background-image: url('/web/img/main/17.jpg');  ">&nbsp;</div>
                     </a>
                </div>
                <a href="/albums/">
                    <div class="photo horizontal picture_big picture_text black_on_white">
                        <span>Альбомы</span>
                    </div>
                </a>
                <a href="/albums/id/6/2/#80">
                    <div class="photo vertical picture_mid"
                         style="background-image: url('/web/img/main/18.jpg');">&nbsp;</div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/5/1/#52">
                        <div class="photo horizontal picture_min"
                           style="background-image: url('/web/img/main/6.jpg');">&nbsp;</div>
                    </a>
                    <a href="/links/">
                        <div class="photo horizontal picture_min picture_text_main black_on_white">
                            <span>Ссылки</span>
                        </div>
                </div>
                <a href="/albums/id/13/#154">
                    <div class="photo horizontal picture_big"
                         style="background-image: url('/web/img/main/13.jpg');">&nbsp;</div>
                </a>
            </section>
        </div>
    </div>
{% endblock %}
