{% extends "admin/layout.twig" %}

{% block content %}

<div id="content">
    <div class="photo_page">
        <div class="tile horizontal black_on_white dashboard">
            <a href="/admin/upload/">Загрузка</a>
            <a href="/admin/edit/albums/">Альбомы</a>
        </div>
    </div>
</div>

{% endblock %}