{% extends "adminNew/layout.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                {% include rootDir~'/navigation.twig' %}
            </div>
            <div class="span10">
                {% block centerColumn%}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
